.chat {
    display: flex;
    flex: 6;
    justify-content: center;
    align-items: center;
    /* background-color: burlywood; */
    height: inherit;
}

.chatbox {
    background-color: #f3f6fb;
    height: inherit;
    width: 90%;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    align-items: center;
    justify-content: center;
    border: 1px solid #ebf0f7;
}

.addedAttachments {
    color: green;
    margin: 0 10px 0 10px;
    background: white;
    width: -webkit-fill-available;
    text-align: initial;
    line-height: 40px;
    padding-left: 10px;
}

.chatbox>div {
    border-radius: 5px;
    align-items: center;
}

.messageBox {
    /* background-color: yellow; */
    height: 90%;
    width: 100%;
    overflow-y: auto;
}

.messageInputBox {
    background-color: #fbfcff;
    padding: 16px;
    width: 90%;
    display: flex;
    flex-direction: row;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.messageInputWrapper {
    display: flex;
    height: 43px;
    flex: 11;
    background-color: white;
    flex-direction: row;
    align-items: center;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.messageInput {
    height: 15px;
    font-size: 15px;
    resize: none;
    flex: 11;
    border: none;
    outline: none;
    margin-left: 10px;
}


.emoji {
    display: flex;
    flex: 1;
    background-color: white;
    height: 100%;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

.emoji-img {
    height: 35px;
    width: 35px;
}

.sendMessage {
    height: 43px;
    background-color: #316bdf;
    color: white;
    border: none;
    margin-left: 16px;
    border-radius: 5px;
    cursor: pointer;
    width: 100px;
}

.emoji {
    cursor: pointer;
}

.emoji svg {
    fill: hsl(60, 80%, 47%);
}

.EmojiPickerReact {
    padding: 16px;
}